:root {
    --logistics-gray: #181818;
    --logistics-red: #A6192E;
}

* {
    background-color: var(--logistics-gray);
}

img {
    background-color: transparent;
}

header {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: var(--logistics-red);
}

header img {
    height: 64px;
    width: auto;
    display: block;
}

p {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}